############################
# VS Code
############################
.vscode/

############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
.pytest_cache/
